@media (min-width:1201px) and (max-width:1350px) {
    #img {
        width: 750px;
        left: -200px;
    }
    h1 {
        font-size: 4.5em;
        line-height: 70px;
    }
}

@media (min-width:1089px) and (max-width:1200px) {
    #img {
        width: 650px;
        left: -200px;
    }
    h1 {
        font-size: 4em;
        line-height: 70px;
    }
}

@media (min-width:769px) and (max-width:1087px) {
    nav {
        padding: 10px 30px;
    }

    h1 {
        font-size: 4em;
        line-height: 70px;
    }
    #header-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #header-img {
        background: linear-gradient(180deg, rgb(1,204,251), rgb(27,87,203), rgb(0,105,161));
        display: block;
        width: 80%;
    }
    
    #header-img img {
        width: 100%;
        transform: rotate(340deg);
        animation-name: fadeIn;
        animation-duration: 3s;
        transition: .3s;
        opacity: 1;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: rotate(320deg);
        }
        to {
            opacity: 1;
            transform: rotate(340deg);
        }
    }
    
    .right-section {
        display: none;
    }
    
    .left-section {
        padding: 70px;
        height: 100%;
        width: 100%;
    }

    .new-arrival {
        padding: 50px 60px;
        margin: 10px auto;
    }

    .card {
        width: 100%;
    }


    .card img {
        width: 100%;
    }

    .best {
        flex-direction: column;
        padding: 50px 90px;
    }
    .best-img {
        width: 70%;
    }
    .left {
        width: 100%;
    }

    .review-section {
        padding: 50px 60px;
    }
    .review-section h1 {
        font-size: 2.5em;
    }
    .review-section p {
        font-size: 1em;
    }
    footer {
        padding: 50px 70px;
    }
}

@media (min-width:577px) and (max-width:768px) {
    .navbar{
        display: none;
    }
    nav {
        padding: 5px 80px;
        width: 100%;
    }
    nav button {
        padding: 7px 10px;
        border-radius: 4px;
    }

    nav img {
        width: 60px;
    }

    header {
        padding: 0px 10px;
    }
    h1 {
        font-size: 4em;
        line-height: 60px;
    }

    #header-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #header-img {
        background: linear-gradient(180deg, rgb(1,204,251), rgb(27,87,203), rgb(0,105,161));
        display: block;
    }
    
    #header-img img {
        width: 100%;
        transform: rotate(340deg);
        animation-name: fadeIn;
        animation-duration: 3s;
        transition: .3s;
        opacity: 1;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: rotate(320deg);
        }
        to {
            opacity: 1;
            transform: rotate(340deg);
        }
    }
    
    .right-section {
        display: none;
    }
    
    .left-section {
        padding: 70px;
        height: 100%;
        width: 100%;
    }
    .new-arrival {
        padding: 50px;
    }
    h2 {
        font-size: 2.5em;
    }
    #card {
        width: 70%;
        margin: 5px auto;
    }
    #card img {
        width: 100%;
    }
    .review-section {
        padding: 70px;
    }

    #review {
        flex-direction: column;
        width: 100%;
    }

    #review p {
        text-align: center;
        width: 100%;
    }
    .left {
        width: 100%;
    }
    .head {
        width: 100%;
        margin-bottom: 300px;
        margin: 10px auto;
    }
    .head h1 {
        font-size: 2.5em;
        line-height: 50px;
    }
    .head p {
        font-size: 1.2em;
    }
    .best {
        padding: 70px;
        flex-direction: column;
    }
    
    .best-img {
        width: 80%;
    }
    footer {
        padding: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    footer img {
        width: 70px;
    }
    .first {
        line-height: 30px;
    }
}


@media screen and (max-width:576px) {
    .navbar{
        display: none;
    }
    nav {
        padding: 5px 40px;
        width: 100%;
    }
    nav button {
        padding: 5px 10px;
        border-radius: 4px;
    }

    nav img {
        width: 50px;
    }

    header {
        padding: 0px 10px;
    }
    h1 {
        font-size: 3em;
        line-height: 50px;
    }
    h2 {
        font-size: 2em;
    }
    .best h1 {
        font-size: 2em;
        line-height: 10px;
    }
    .best .retro {
        font-size: 2em;
    }
    .best-img {
        margin-top: 10px;
    }

    #header-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #header-img {
        background: linear-gradient(180deg, rgb(1,204,251), rgb(27,87,203), rgb(0,105,161));
        display: block;
    }
    
    #header-img img {
        width: 100%;
        transform: rotate(340deg);
        animation-name: fadeIn;
        animation-duration: 3s;
        transition: .3s;
        opacity: 1;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: rotate(320deg);
        }
        to {
            opacity: 1;
            transform: rotate(340deg);
        }
    }
    
    .right-section {
        display: none;
    }
    
    .left-section {
        padding: 50px;
        height: 100%;
        width: 100%;
    }
    .new-arrival {
        padding: 50px;
    }
    #card {
        width: 100%;
    }
    #card img {
        width: 100%;
    }
    .review-section {
        padding: 50px;
    }

    #review {
        flex-direction: column;
        width: 100%;
    }

    #review p {
        text-align: center;
        width: 100%;
    }
    .left {
        width: 100%;
    }
    .head {
        width: 100%;
        margin-bottom: 300px;
        margin: 10px auto;
    }
    .head h1 {
        font-size: 2em;
        line-height: 50px;
    }
    .head p {
        font-size: 1.1em;
    }
    .best {
        padding: 50px;
        flex-direction: column;
    }

    .best-img {
        width: 100%;
    }
    footer {
        padding: 50px;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}